
.markline {
  background: #333;
  color: #ccc;
  position: relative;
  font-family: Avenir, 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', Helvetica, Arial, sans-serif;
  font-size: 13px;

  min-width: 500px;
  height: 100%;
  -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;
  overflow: auto;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}

.markline > header {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 10px 30px;
  font-size: 2em;
  color: rgba(153,153,153,0.3); /* #999 */
  white-space:nowrap;
  z-index: 99;
  cursor: default;

  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}
.markline > header:hover {
  color: #999;
}
.markline > header > a {
  color: rgba(110,163,208,0.3);/*#6EA3D0;*/
  text-decoration: none;

  transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
}
.markline > header > a:hover {
  border-bottom: 1px solid rgba(110,163,208,0.5); /* #6EA3D0 */
}
.markline > header:hover > a {
  color: #6EA3D0;
}

.markline > .dates {
  position: absolute;
  top: 0;
  left: 0;
  white-space:nowrap;
  height: 100%;
}
.markline > .dates > ol,
.markline > .dates > ol > li {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
.markline > .dates > ol > li {
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  border-left: 1px dashed rgba(255, 255, 255, 0.2);
  text-align: center;
}
.markline > .dates > ol > li:first-child {
  margin-left: 30px;
}
.markline > .dates > ol > li > label,
.markline > .groups > ol > li > label {
  background-color: #333;
  display: block;
  /*z-index: 103;*/ /* Fixed #10, RENDERING BUGS IN Google Chrome */
}
.markline > .dates > ol > li > label {
  position: relative;
}

.markline,
.markline > .dates > ol > li {
  min-height: 400px;
}


/* events */
.markline > .events {
  position: absolute;
  top: 30px;
  left: 0;
}
.markline > .events ol,
.markline > .events ol > li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.markline > .events ol > li {
  white-space: nowrap;
  position: relative;
}
.markline > .events > .groups > ol > li {
  margin: 2px 0;
}

.markline > .events > .groups {
  margin: 10px 0;
  padding: 10px 0;
  /*border-top: 1px dashed rgba(255,255,255,0.2);*/
  position: relative;
}
.markline > .events > .groups > label {
  position: absolute;
  left: -90px;
  top: 100px;
  text-align: right;
  width: 200px;
  overflow: hidden;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  z-index: 102;
  background-color: #333;
}

.markline > .events > .groups > ol > li > div {
  display: inline-block;
  background: rgba(51,51,51,0.4);
  position: relative;
  padding-right: 20px;
  z-index: 101;
  -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}

.markline > .events > .groups > ol > li > div > ol {
  white-space: nowrap;
  border: 0;
  background-color: #999;
  height: 8px;
  -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}
.markline > .events > .groups > ol > li > div:hover > ol {
  background-color: #ccc;
}
.markline > .events > .groups > ol > li > div > time ,
.markline > .events > .groups > ol > li > div > label {
  padding: 2px 5px;
}
.markline > .events > .groups > ol > li > div:hover > time,
.markline > .events > .groups > ol > li > div:hover > label {
  color: #fff;
}
.markline > .events > .groups > ol > li > div > ol > li {
  width: 8px;
  height: 8px;
  font-size: 0;
  border: 0 none;
  background-color: #ccc;
  -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  text-indent: -10000px;
  cursor: pointer;
}
.markline > .events > .groups > ol > li > div:hover > ol > li {
  background-color: #fff;
  z-index: 100;
}
.markline > .events > .groups > ol > li > div > ol > li:hover {
  background-color: #333;
  border:1px solid #ccc;
  margin-top: -1px;
  margin-left: -1px;
  -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
}

.markline > .events del {
  font-style: italic;
  color: #999;
}
.markline > .events a {
  color: #6EA3D0;
  text-decoration: none;
}
.markline > .events a:hover {
  border-bottom: 1px solid #6EA3D0;
}
.markline > .events a.img {
  border: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAKTWlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVN3WJP3Fj7f92UPVkLY8LGXbIEAIiOsCMgQWaIQkgBhhBASQMWFiApWFBURnEhVxILVCkidiOKgKLhnQYqIWotVXDjuH9yntX167+3t+9f7vOec5/zOec8PgBESJpHmomoAOVKFPDrYH49PSMTJvYACFUjgBCAQ5svCZwXFAADwA3l4fnSwP/wBr28AAgBw1S4kEsfh/4O6UCZXACCRAOAiEucLAZBSAMguVMgUAMgYALBTs2QKAJQAAGx5fEIiAKoNAOz0ST4FANipk9wXANiiHKkIAI0BAJkoRyQCQLsAYFWBUiwCwMIAoKxAIi4EwK4BgFm2MkcCgL0FAHaOWJAPQGAAgJlCLMwAIDgCAEMeE80DIEwDoDDSv+CpX3CFuEgBAMDLlc2XS9IzFLiV0Bp38vDg4iHiwmyxQmEXKRBmCeQinJebIxNI5wNMzgwAABr50cH+OD+Q5+bk4eZm52zv9MWi/mvwbyI+IfHf/ryMAgQAEE7P79pf5eXWA3DHAbB1v2upWwDaVgBo3/ldM9sJoFoK0Hr5i3k4/EAenqFQyDwdHAoLC+0lYqG9MOOLPv8z4W/gi372/EAe/tt68ABxmkCZrcCjg/1xYW52rlKO58sEQjFu9+cj/seFf/2OKdHiNLFcLBWK8ViJuFAiTcd5uVKRRCHJleIS6X8y8R+W/QmTdw0ArIZPwE62B7XLbMB+7gECiw5Y0nYAQH7zLYwaC5EAEGc0Mnn3AACTv/mPQCsBAM2XpOMAALzoGFyolBdMxggAAESggSqwQQcMwRSswA6cwR28wBcCYQZEQAwkwDwQQgbkgBwKoRiWQRlUwDrYBLWwAxqgEZrhELTBMTgN5+ASXIHrcBcGYBiewhi8hgkEQcgIE2EhOogRYo7YIs4IF5mOBCJhSDSSgKQg6YgUUSLFyHKkAqlCapFdSCPyLXIUOY1cQPqQ28ggMor8irxHMZSBslED1AJ1QLmoHxqKxqBz0XQ0D12AlqJr0Rq0Hj2AtqKn0UvodXQAfYqOY4DRMQ5mjNlhXIyHRWCJWBomxxZj5Vg1Vo81Yx1YN3YVG8CeYe8IJAKLgBPsCF6EEMJsgpCQR1hMWEOoJewjtBK6CFcJg4Qxwicik6hPtCV6EvnEeGI6sZBYRqwm7iEeIZ4lXicOE1+TSCQOyZLkTgohJZAySQtJa0jbSC2kU6Q+0hBpnEwm65Btyd7kCLKArCCXkbeQD5BPkvvJw+S3FDrFiOJMCaIkUqSUEko1ZT/lBKWfMkKZoKpRzame1AiqiDqfWkltoHZQL1OHqRM0dZolzZsWQ8ukLaPV0JppZ2n3aC/pdLoJ3YMeRZfQl9Jr6Afp5+mD9HcMDYYNg8dIYigZaxl7GacYtxkvmUymBdOXmchUMNcyG5lnmA+Yb1VYKvYqfBWRyhKVOpVWlX6V56pUVXNVP9V5qgtUq1UPq15WfaZGVbNQ46kJ1Bar1akdVbupNq7OUndSj1DPUV+jvl/9gvpjDbKGhUaghkijVGO3xhmNIRbGMmXxWELWclYD6yxrmE1iW7L57Ex2Bfsbdi97TFNDc6pmrGaRZp3mcc0BDsax4PA52ZxKziHODc57LQMtPy2x1mqtZq1+rTfaetq+2mLtcu0W7eva73VwnUCdLJ31Om0693UJuja6UbqFutt1z+o+02PreekJ9cr1Dund0Uf1bfSj9Rfq79bv0R83MDQINpAZbDE4Y/DMkGPoa5hpuNHwhOGoEctoupHEaKPRSaMnuCbuh2fjNXgXPmasbxxirDTeZdxrPGFiaTLbpMSkxeS+Kc2Ua5pmutG003TMzMgs3KzYrMnsjjnVnGueYb7ZvNv8jYWlRZzFSos2i8eW2pZ8ywWWTZb3rJhWPlZ5VvVW16xJ1lzrLOtt1ldsUBtXmwybOpvLtqitm63Edptt3xTiFI8p0in1U27aMez87ArsmuwG7Tn2YfYl9m32zx3MHBId1jt0O3xydHXMdmxwvOuk4TTDqcSpw+lXZxtnoXOd8zUXpkuQyxKXdpcXU22niqdun3rLleUa7rrStdP1o5u7m9yt2W3U3cw9xX2r+00umxvJXcM970H08PdY4nHM452nm6fC85DnL152Xlle+70eT7OcJp7WMG3I28Rb4L3Le2A6Pj1l+s7pAz7GPgKfep+Hvqa+It89viN+1n6Zfgf8nvs7+sv9j/i/4XnyFvFOBWABwQHlAb2BGoGzA2sDHwSZBKUHNQWNBbsGLww+FUIMCQ1ZH3KTb8AX8hv5YzPcZyya0RXKCJ0VWhv6MMwmTB7WEY6GzwjfEH5vpvlM6cy2CIjgR2yIuB9pGZkX+X0UKSoyqi7qUbRTdHF09yzWrORZ+2e9jvGPqYy5O9tqtnJ2Z6xqbFJsY+ybuIC4qriBeIf4RfGXEnQTJAntieTE2MQ9ieNzAudsmjOc5JpUlnRjruXcorkX5unOy553PFk1WZB8OIWYEpeyP+WDIEJQLxhP5aduTR0T8oSbhU9FvqKNolGxt7hKPJLmnVaV9jjdO31D+miGT0Z1xjMJT1IreZEZkrkj801WRNberM/ZcdktOZSclJyjUg1plrQr1zC3KLdPZisrkw3keeZtyhuTh8r35CP5c/PbFWyFTNGjtFKuUA4WTC+oK3hbGFt4uEi9SFrUM99m/ur5IwuCFny9kLBQuLCz2Lh4WfHgIr9FuxYji1MXdy4xXVK6ZHhp8NJ9y2jLspb9UOJYUlXyannc8o5Sg9KlpUMrglc0lamUycturvRauWMVYZVkVe9ql9VbVn8qF5VfrHCsqK74sEa45uJXTl/VfPV5bdra3kq3yu3rSOuk626s91m/r0q9akHV0IbwDa0b8Y3lG19tSt50oXpq9Y7NtM3KzQM1YTXtW8y2rNvyoTaj9nqdf13LVv2tq7e+2Sba1r/dd3vzDoMdFTve75TsvLUreFdrvUV99W7S7oLdjxpiG7q/5n7duEd3T8Wej3ulewf2Re/ranRvbNyvv7+yCW1SNo0eSDpw5ZuAb9qb7Zp3tXBaKg7CQeXBJ9+mfHvjUOihzsPcw83fmX+39QjrSHkr0jq/dawto22gPaG97+iMo50dXh1Hvrf/fu8x42N1xzWPV56gnSg98fnkgpPjp2Snnp1OPz3Umdx590z8mWtdUV29Z0PPnj8XdO5Mt1/3yfPe549d8Lxw9CL3Ytslt0utPa49R35w/eFIr1tv62X3y+1XPK509E3rO9Hv03/6asDVc9f41y5dn3m978bsG7duJt0cuCW69fh29u0XdwruTNxdeo94r/y+2v3qB/oP6n+0/rFlwG3g+GDAYM/DWQ/vDgmHnv6U/9OH4dJHzEfVI0YjjY+dHx8bDRq98mTOk+GnsqcTz8p+Vv9563Or59/94vtLz1j82PAL+YvPv655qfNy76uprzrHI8cfvM55PfGm/K3O233vuO+638e9H5ko/ED+UPPR+mPHp9BP9z7nfP78L/eE8/sl0p8zAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAD9SURBVHjapJOhSgRRGIW/GZ2gbyCCCprMi0aDQViDYDEYfAjNG202BVmLLyGCSSxiWDBrEdEg6gs4up9h/4FhYXVm9sAPP5fLuecc7klUxkEK7AM5YIM5TRxIuAJugnAUcuAB6ANLQAvYwQFaKhVmRV2LPVM/U+AbmKtg9wC4A66BDjAF5GmNvDZL+3rY7Y8iWASOhs72gHvgOYLPgAw1V7dLPqfVl8jm4o88VtX3QsFE6aVLYDb2NnAOLAC3QHdIlag/ajtYu/6Pw7i7rH4UFmbUDatjN0heUR/VE/XLejhWe4n6BMw3rMJb8ZUbYxI4A7aiHHWL2EvGrfPvAAhpVNB/Tr+2AAAAAElFTkSuQmCC) no-repeat center center;
  background-size: cover;
  margin: -1px 3px 0;
  vertical-align: middle;
  text-indent: 1000px;
  overflow: hidden;
}

.markline:after{content:"\0020"; display:block; height:0; clear:both;}
.markline{zoom:1;}
.clearfix:after{content:"\0020"; display:block; height:0; clear:both;}
.clearfix{zoom:1;}

.markline .tags {
  height: 20px;
  margin: 0 5px;
  padding: 0 5px 0 15px;
  display: inline-block;
  -moz-border-radius:100% 3px 3px 100%;
  -khtml-border-radius:100% 3px 3px 100%;
  -webkit-border-top-left-radius:100%; -webkit-border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px; -webkit-border-bottom-left-radius:100%;
  border-radius:100% 3px 3px 100%;
  position: relative;
  color: #eee;
  background-color: #96f;
}
.markline .tags:before {
  position: absolute;
  content: "";
  left: 5px;
  top: 50%;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  background: #eee;
  -moz-border-radius:100%; -khtml-border-radius:100%; -webkit-border-radius:100%; border-radius:100%;
}
